@import url("https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap");
@import "tailwindcss";
/* @import "../tailwind.config.ts"; */

* {
	font-family: "Outfit", sans-serif;
}

@theme {
	--text-home-heading-small: 36px;
	--text-home-heading-large: 48px;
	--text-course-details-heading-small: 28px;
	--text-course-details-heading-large: 48px;
	--grid-cols-auto: "repeat(auto-fit, minmax(200px, 1fr))";
}
